.field {
	width: 100%;
	min-height: 22rem;

	&__control {
		width: 100%;
		padding: 28rem 0rem 12rem;
		border: none;
		border-bottom: 1rem solid #000;
		background-color: #ebdbd3;

		&::placeholder {
			color: #000;
		}
	}

	&__select {
		width: 100%;
	}

	&--with-icon {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 22rem;
			width: 10rem;
			height: 10rem;
			background-color: #000;
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		}
	}
}