.select2 {
	$root: &;

	&-search__field {
		padding: 28rem 0rem 12rem;
		border: none;
		border-bottom: 1rem solid #000;
		background-color: #ebdbd3;
	}

	&-dropdown {
		border: 1rem solid #000;
		border-radius: 0;
		background-color: #ebdbd3;
	}

	&-container {
		&--default {
			.select2-selection--single {
				border: none;
				border-bottom: 1rem solid #000;
				border-radius: 0rem;
				background-color: #ebdbd3;
			}
		}
	}

	&-results {
		&__option {
			$option: &;

			padding: 24rem;

			&--selectable {
				&#{$option}--highlighted {
					background-color: rgba(0, 0, 0, 0.5) !important;
					color: #fff;
				}

				&#{$option}--selected {
					background-color: rgb(0, 0, 0) !important;
					color: #fff;
				}
			}
		}
	}
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none;
	border-bottom: 1rem solid #000;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin: 0;
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 22rem;
	width: 10rem;
	height: 10rem;
	border: none;
	background-color: #000;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}