@use '../media' as *;

.select2 {
	$root: &;

	&-search__field {
		padding: 28rem 0rem 12rem;
		border: none;
		border-bottom: 1rem solid #000;
		background-color: #ebdbd3;
	}

	&-dropdown {
		border: 1rem solid #000;
		border-radius: 0;
		background-color: #ebdbd3;
	}

	&-container {
		&--default {
			.select2-selection--single {
				height: auto;
				padding-bottom: 12rem;
				border: none;
				border-bottom: 1rem solid #000;
				border-radius: 0rem;
				background-color: #ebdbd3;
			}
		}
	}

	&-results {
		&__option {
			$option: &;

			padding: 24rem;

			.select2-container--default .select2-results__options--nested & {
				padding-left: 44rem;
			}

			&--selectable {
				&#{$option}--highlighted {
					background-color: rgba(0, 0, 0, 0.5) !important;
					color: #fff;
				}

				&#{$option}--selected {
					background-color: rgb(0, 0, 0) !important;
					color: #fff;
				}
			}
		}
	}
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none;
	border-bottom: 1rem solid #000;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	color: #000;
}

.select2-container--default .select2-results__group {
	padding: 24rem;
	font-weight: 500;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	margin: 0;
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 22rem;
	width: 10rem;
	height: 10rem;
	border: none;
	background-color: #000;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 1;
}

.select2-container--open .select2-dropdown--below {
	padding-top: 24rem;
	border: 1rem solid #000;
}

.select2-search--dropdown {
	padding: 0;
	padding-inline: 24rem;
}

.select2-container--default .select2-selection--multiple {
	border: none;
	border-bottom: 1rem solid #000;
	border-radius: 0;
	background-color: transparent;
}

.select2-container--default .select2-search--inline .select2-search__field {
	margin: 0;
	font-family: inherit;

	&::placeholder {
		color: #000;
	}
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	margin: 0;
	padding-left: 0;
	display: inline-flex;
	border: 0;
	color: #000;
	background-color: transparent;

	&:where(:not(:last-child))::after {
		content: ', ';
	}
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice__remove {
	display: none;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice__display {
	padding: 0;
}

.select2-container .select2-selection--multiple {
	min-height: 22rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: none;
	border-bottom: 1rem solid #000;
}