@use '../../node_modules/flatpickr/dist/flatpickr.min.css' as *;
@use '../../node_modules/select2/dist/css/select2.min.css' as *;

@use './media.scss' as *;

@use './afisha-form.scss' as *;
@use './datepicker.scss' as *;
@use './button.scss' as *;

@use './components/field.scss' as *;

*[hidden] {
	display: none !important;
}

.resoult-afisha {
	display: flex;
	flex-direction: column;
	row-gap: 132rem;
}

.text-core:empty {
	display: none;
}
